<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EmployeeLeaveManagement</display-name>
  <welcome-file-list>
    <welcome-file>loginPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EmployeeRegister</servlet-name>
    <servlet-class>com.controller.EmployeeRegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.controller.EmployeeLoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeLeave</servlet-name>
    <servlet-class>com.controller.EmployeeLeaveController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeLeaveView</servlet-name>
    <servlet-class>com.controller.EmployeeLeaveViewController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditEmployeeLeave</servlet-name>
    <servlet-class>com.controller.EditEmpLeaveController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeLeave</servlet-name>
    <servlet-class>com.controller.UpdateEmpLeaveController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmployeeLeave</servlet-name>
    <servlet-class>com.controller.DeleteEmpLeaveController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerViewParticularEmployee</servlet-name>
    <servlet-class>com.controller.ManagerViewEmployeeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AcceptLeaveForEmployee</servlet-name>
    <servlet-class>com.controller.AcceptLeaveController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejectLeaveForEmployee</servlet-name>
    <servlet-class>com.controller.RejectLeaveController</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>EmployeeRegister</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeLeave</servlet-name>
    <url-pattern>/Leave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeLeaveView</servlet-name>
    <url-pattern>/LeaveView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditEmployeeLeave</servlet-name>
    <url-pattern>/EditEmpLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeLeave</servlet-name>
    <url-pattern>/UpdateEmpLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeLeave</servlet-name>
    <url-pattern>/DeleteEmpLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerViewParticularEmployee</servlet-name>
    <url-pattern>/ManagerViewEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AcceptLeaveForEmployee</servlet-name>
    <url-pattern>/AcceptLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RejectLeaveForEmployee</servlet-name>
    <url-pattern>/RejectLeave</url-pattern>
  </servlet-mapping>
</web-app>